/* DON'T TOUCH THIS! */
body {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	overflow-x: hidden;
}
.header {
	font-family: 'Lora', serif;
	color: #143774;
	background: #F8F8F8;
	text-align: center;
	font-size: 3rem;
	font-weight: 400;
	padding: 0.75em;
	margin: 0;
	width: 100%;
}

.post-title {
	color: #1792D2;
	font-size: 2rem;
}

.post-description {
	color: #707070;
	font-size: 1.125rem;
}

.post {
	background: #E1E1E1;
}
/* DON'T TOUCH THIS! */

/* ==========================
	Write your solution here!
   ========================== */

.posts {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	margin: 1em auto;
}

.post {
	width: 90%;
	margin: 1em;
	border-radius: 2em;
	display: flex;
}